header
  nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
    div(class="container-fluid")
      div(class="img-container-header"): img(src="images/logo.png")
      a(class="navbar-brand ms-3" href="/") Wiki Dog
      button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse" id="navbarNav")
        ul(class="navbar-nav ms-auto")
          li(class="nav-item")
            a(class="nav-link active" aria-current="page" href="/" ) Inicio
              i(class="fas fa-home") 
          li
            a(class="nav-link" href="/perros") Perros 
